
.admin-container{
    display: flex;
    background-color: white;
    color: black;
    width:100%
}
.admin-side{
    width: 18%;
}

.navbar-admin{
        height: 95px;
        width: 60%;
        border-radius: 12px;
        margin-top: 10px;
        margin-right: 500px;
        display: flex;
        flex-direction: row;
        margin-left: 400px;
        top: 0px;
        z-index: 99;
    }
   .dash-links{
    color: rgb(7, 7, 7);
    text-align: center;
    /* padding: 5px 5px; */
    text-decoration: none;
   }


.nav-admin{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    list-style: none;
    
}
