.admin-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    color: black;
    max-width: 100%;
}

.admin-side {
    width: 25%;
}

.navbar-admin {
    height: 95px;
    width: 75%;
    border-radius: 12px;
    /* margin-top: 10px; */
    /* margin-right: 500px; */
    display: flex;
    flex-direction: row;
    /* margin-left: 400px; */
    
    z-index: 99;
   
}

.container {
    display: flex;
    flex-direction: row;
}







