.admin-img{
    margin-top: 20px;
    height:200px;
    width: 200px;
    margin-left: 70px;
    border-radius: 1000px;

}
.sidebar{
    width: 300px;
min-height: 100vh;  /* background-color: #1E554F; */
  background-color: #173B3F;
  ;
}
.admin-btn{
    margin: 10px;
    width: 120px;
    margin-top: 100px;
    margin-left: 90px;
    padding: 15px 30px;
    text-align: center;
    transition: 0.5s;
    color: rgb(6, 6, 6);
    border-radius: 8px;
    display: block;
    border: 0px;
    background-color: #80817f;
    font-weight: 700;
    font-size: 20px;
    box-shadow: 0px 0px 14px -7px #98a797;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
    }
