.table{
    width: 100%;
    min-height:100%;
}
table{
    width:96%;
    margin:2% 2%;
    border: none;

    
    

}
.table h1{
    font-size: 30px;
    font-weight: bold;
    margin-top: 1%;  
}
.head{
    
    background-color:#56C870 ;
    margin: 0;
    padding-top:20px;
    font-size: 25px;
    color: #fafafa;
    
    
}
tbody{
    background-color: #EDEFF1;
    font-size: 20px;
}
.avatar{
    height:9vh;
    width: 35%;
    border-radius: 1000px;
    margin-left: 15%;
}
tbody tr{
    height: 10vh;
}
 .client-av{
    height:9vh;
    width: 45%;
    border-radius: 1000px;
    margin-left: 15%;
}