.diet-secondary-div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* background-color: lightgrey; */
    width: 700px;
    text-align: center;
}

.diet-filter {
    width: 250px;
    height: 35px;
    border: 1px solid #000000;
    /* background: #000000; */
    cursor: pointer;
    color: #000000  ;
    border-radius: 12px;
    margin-right: 25px;
    font-style: italic;
    font-family: 'Snell Roundhand, cursive';
    text-align: center;
}