.exer-height {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 113vh;
    overflow-y: scroll;
    width: 75%;

}

.diet-height {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 320vh;
}

