.exer-height {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 320vh;
}

.diet-height {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 320vh;
}

