body {
    background-color: #ffffff;
  }
  
  .main-parent {
    height: 850px;
    width: 1750px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
  }
  
  
  .right {
    width: 1025px;
    height: 850px;
    background-color: #ffffff;
    margin-left: auto;
    border-radius: auto;
    display: flex;
    flex-direction: column;
  }
  
  
  .art-text p {
    font-size: x-large;
    font-style: italic;
    color: #000000;
    font-family: 'Snell Roundhand, cursive';
  }
  
  .sign-in-header {
      margin-top: 90px;
      font-size: 25px;
      margin-left: auto;
      margin-right: auto;
      color: #000000;
      font-style: italic;
      font-family: 'Snell Roundhand, cursive';
  }
  
  .sign-in-components {
    background-color: #4f976a;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 5%;
  }
  
  .sign-in-components input {
    width: 300px;
    height: 40px;
    margin-top: 20px;
    display: block;
    border-radius: 12px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000000;
  }
  .sign-in {
    width: 200px;
    height: 35px;
    border: 1px solid #000000;
    background: #ffffff;
    cursor: pointer;
    color: #000000;
    margin-top: 12px;
    margin-bottom: 10px;
    border-radius: 12px;
  }
  
  .login-text {
  font-size: 25px;
      color: #000000;
      font-style: italic;
      font-family: 'Snell Roundhand, cursive';
  }

  .sign-up-text a {
    text-decoration: none;
  }



  @media (min-width: 375px) { 
    .sign-in-components {
      background-color: #4f976a;
      width: 350px;
      height: 500px;
      justify-content: center;
      /* margin-left: auto; */
      /* margin-right: auto; */
      border-radius: 12px;
      text-align: center;
      margin-top: auto;
      margin-bottom: 5%;
    }
    .main-parent {
      height: 850px;
      width: 300px;
      background-color: #ffffff;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      border-radius: 12px;
      display: flex;
      flex-direction: row;
    }
    
  }
