.navbar {
    background-color: #173B3F;
    justify-content: space-around;
    height: 75px;
    width: 100%;
    /* margin-top: 10px; */
    display: flex;
    font-size: 18px;
    text-align: center;
    flex-direction: row;
    position: sticky;
    top: 0px;
    z-index: 99;
}

/* .muscleup {
    margin-left: 40px;
} */

.muscleup h1{
    font-size: 35px;
    
    color: #fafafa;

}

.nav-components {
    /* margin-top: 20px; */
    margin-bottom: auto;
    /* margin-left: 700px; */
    justify-content: space-between;
    display: flex;
    flex-direction: row;
   
}
/* .nav-component {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 700px;
    display: flex;
    flex-direction: row;
 
} */

.nav-components h4 {
    text-decoration: none;
    margin-top: 23px;
    margin-bottom: auto;
    margin-left: 25px;
    font-size: larger;
    color: #fafafa;
}


 /* h4::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #56C870;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  h4:hover::before {
  transform-origin: left;
  transform: scaleX(1);
} */
.navbar a {
    text-decoration: none;
}

.log-sign {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}
.log{
    background-color: #fafafa;
    color: black;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 20px;
    font-weight: 100px;
    margin: 20px 40px;
}

.log{
    transition:all 0.3s ease-in-out;
  }
  .log:hover ,
  .log:focus {
  transform: scale(1.2);
  opacity:0.9;

  }

.sig{
    background-color: #56C870;
    color: black;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 20px;
    font-weight: 100px;
    margin: 20px 40px;
}
.sig{
    transition:all 0.3s ease-in-out;
  }
  .sig:hover ,
  .sig:focus {
  transform: scale(1.2);
  opacity:0.9;
  
  }

  @media (max-width: 500px) { 
    .navbar {
        background-color: #173B3F;
        justify-content: space-around;
        height: 75px;
        width: 100%;
        /* margin-top: 10px; */
        display: flex;
        font-size: 18px;
        text-align: center;
        flex-direction: row;
        position: sticky;
        top: 0px;
        z-index: 99;
    }
    .nav-components {
        /* margin-top: 20px; */
        margin-bottom: auto;
        height:75px ;
        /* margin-left: 700px; */
        justify-content: space-between;
        display: flex;
        overflow: hidden;
        flex-direction: column;
       
    }
    .nav-components h4 {
        text-decoration: none;
        margin-top: 23px;
        margin-bottom: auto;
        margin-left: 10px;
        font-size: 20px;
        color: #fafafa;
        overflow:hidden ;
    }
    .log-sign {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
       
    }
    .log{
        background-color: #fafafa;
        color: black;
        text-decoration: none;
        padding: 6px 10px;
        border-radius: 20px;
        font-weight: 100px;
        margin: 20px 5px;
        font-size: 18px;
    }
    
    .log{
        transition:all 0.3s ease-in-out;
      }
      .log:hover ,
      .log:focus {
      transform: scale(1.2);
      opacity:0.9;
    
      }
    
    .sig{
        background-color: #56C870;
        color: black;
        text-decoration: none;
        padding: 6px 6px;
        border-radius: 20px;
        font-weight: 100px;
        margin: 10px 10px;
        font-size: 18px;
    }
    .sig{
        transition:all 0.3s ease-in-out;
      }
      .sig:hover ,
      .sig:focus {
      transform: scale(1.2);
      opacity:0.9;
      
      }
      .muscleup h1{
        font-size: 25px;
        margin-top: 20px;
        color: #fafafa;
    
    }
    
  }