.Services {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.gym-services img {
    height: 500px;
    width: 100%;
    border-radius: 12px;
}

.trainers img {
    height: 500px;
    width: 100%;
    border-radius: 12px;
}

.carousel {
    background-color: aqua;
    height: 825px;
    width: 1700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
}