.react-calendar {
    margin-left: 60px;
    width: 250px;
    max-width: 100%;
    background-color: #fff;
    color: rgb(19, 1, 1);
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .react-calendar__navigation button[disabled] {
    background-color: #F0F0F0;
  }
  abbr[title] {
    text-decoration: none;
  }


  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #D4A713;
    color: white;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #F8F8FA;
  }
  .react-calendar__tile--range {
    background: #F8F8FA;
    color: #D4A713;
    border-radius: 0;
  }

  .react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #D4A713;
    color: white;
  }
 .text-center{
    color: rgb(8, 53, 24);
    font-size: 25px;
    text-align:left;
    margin-left: 30px;

 }
 .calendar{
    margin-top: 15%;
    margin-left: 10%;
 }