.navbar {
    background-color: #173B3F;
text-align: center;
    height: 90px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    z-index: 99;
    color: rgb(254, 254, 254);
}

.muscleup {
    margin-left: 50px;
}

.muscleup h1{
    margin-top: 15px;
    font-style: italic;
    font-family: 'Snell Roundhand, cursive';
    color: aliceblue;
}

.nav-components {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 700px;
    display: flex;
    flex-direction: row;
    font-style: italic;
    font-family: 'Snell Roundhand, cursive';
}
.nav-component {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 700px;
    display: flex;
    flex-direction: row;
    font-style: italic;
    font-family: 'Snell Roundhand, cursive';
}

.nav-components h4 {
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
    font-size: larger;
    color: aliceblue;
}

/* .nav-buttons {
    width: 200px;
    height: 35px;
    border: 1px solid #000000;
    background: #000000;
    cursor: pointer;
    color: #ffffff;
    border-radius: 12px;
    margin-right: 25px;
    font-style: italic;
    font-family: 'Snell Roundhand, cursive';
} */

.navbar a {
    text-decoration: none;
}

.log-sign {
    display: flex;
    flex-direction: row;
    margin-left: 265px;
}
